.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
    margin: 5px;
}

.collapsible {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    background-color: #212121;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 60%;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    margin:5px;
}
.content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
    align-self: center;
    width: 60%;
    border-radius: 15px;
}

.gistContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}
.badge {
    background-color: #e1e1e1;
    color: black;
    padding: 2px;
    border-radius: 10px;
    margin: 2px;
}

.active, .collapsible:hover {
    background-color: #3f3f3f;
}

