.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
    margin: 5px;
}

.collapsible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #212121;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 60%;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    margin:5px;
}

.collapsibleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #212121;
    border-radius: 15px;
}

.badge {
    background-color: #e1e1e1;
    color: black;
    padding: 2px;
    border-radius: 10px;
    margin: 2px;
}